:root {
  --checkOffImage: url("../../images/icon/ico-checkbox-off.svg");
  --checkOnImage: url("../../images/icon/ico-checkbox-on.svg");
  --checkFontSize: 15px;
  --checkBeforeColor: var(--text-gray-90);
  --checkAfterColor: var(--text-gray-90);
  --checkPl: 28px;
  --checkHeight: 20px;
}
.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  + label {
    display: inline-flex;
    padding-left: var(--checkPl);
    background: var(--checkOffImage) no-repeat left;
    font-size: var(--checkFontSize);
    color: var(--checkBeforeColor);
    height: var(--checkHeight);
  }
  &:checked {
    + label {
      color: var(--checkAfterColor);
      background: var(--checkOnImage) no-repeat left;
    }
  }
}
