.cta {
  position: sticky;
  bottom: 0;
  background-color: #fff;
  padding: 24px 16px;
  box-sizing: border-box;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);

  &.two {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;

    button {
      width: calc(50% - 4px);
    }
  }
}
