:root {
  --radioOffImage: url("../../images/icon/ico-radio-off.svg");
  --radioOonImage: url("../../images/icon/ico-radio-on.svg");
  --radioFontSize: 19px;
  --radioBeforeColor: var(--gray-gray-90, #1d1d1d);
  --radioAfterColor: var(--gray-gray-90, #1d1d1d);
  --radioPl: 32px;
  --radioHeight: 24px;
}

.radio {
  overflow: hidden;
  position: absolute;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  + label {
    display: inline-flex;
    padding-left: var(--radioPl);
    background: var(--radioOffImage) no-repeat left;
    font-size: var(--radioFontSize);
    color: var(--radioBeforeColor);
    height: var(--radioHeight);
  }
  &:checked {
    + label {
      color: var(--radioAfterColor);
      background: var(--radioOonImage) no-repeat left;
    }
  }
}
