:root {
  /* Text */
  --text-gray-100: #000000;
  --text-gray-90: #1d1d1d;
  --text-gray-80: #2d2d2d;
  --text-gray-70: #555555;
  --text-gray-60: #717171;
  --text-wh-color: #ffffff;
  --text-primary-100: #246beb;
  --text-primary-40: #2a5c96;
  --text-error: #e71825;

  --font-size-xl: 24px;
  --font-size-lg: 19px;
  --font-size-md: 17px;
  --font-size-sm: 15px;
  --font-size-xs: 13px;
  --font-size-xxs: 10px;

  /* Button */
  --btn-active-bg: #246beb;
  --btn-hover-bg: #1d56bc;
  --btn-active-bg: #16408d;
  --btn-disabled-bg: #d8d8d8;
  --btn-gradient-bg: linear-gradient(
    90deg,
    rgba(43, 150, 237, 1) 0%,
    rgba(43, 121, 237, 1) 100%
  );

  /* Form */
  /* --form-primary: ; */

  /* Border */
  --border-gray-100: #5555;
  --border-gray-60: #717171;
  --border-gray-40: #c6c6c6;
  --border-primary: #246beb;
  --border-error: #e71825;
  --border-wh: #f0f0f0;

  /* Badge */
  --badge-green-primary: #008a1e;
  --badge-green-secondary: #eef7f0;
  --badge-blue-primary: #246beb;
  --badge-blue-secondary: #eff5ff;

  /* Import from AutoHTML */
  /* Colors */
  /* --gray-gray-100: #000000;
  --gray-gray-90: #1d1d1d;
  --gray-gray-80: #2d2d2d;
  --gray-gray-70: #555555;
  --gray-gray-60: #717171;
  --gray-gray-50: #8e8e8e;
  --gray-gray-40: #c6c6c6;
  --gray-gray-30: #d8d8d8;
  --gray-gray-20: #e4e4e4;
  --gray-gray-10: #f0f0f0;
  --gray-gray-5: #f8f8f8;
  --gray-gray-0: #ffffff;
  --primary-primary-60: #1d56bc;
  --primary-primary-50: #246beb;
  --primary-primary-10: #d3e1fb;
  --primary-primary-5: #eff5ff;
  --secondary-secondary-50: #003675;
  --secondary-secondary-40: #2a5c96;
  --secondary-secondary-5: #edf1f5;
  --green-green-50: #008a1e;
  --green-green-5: #eef7f0;
  --red-red-60: #d50136;
  --red-red-50: #e71825;
  --red-red-5: #feecf0; */

  /* Dark Mode */
  /* --darkModeExample: light-dark(#000, #fff); */

  /* Fonts */
  /* --body-700-b-font-family: Pretendard-Bold, sans-serif;
  --body-700-b-font-size: 24px;
  --body-700-b-line-height: 150%;
  --body-700-b-font-weight: 700;
  --body-700-b-font-style: normal;
  --body-700-sb-font-family: Pretendard-SemiBold, sans-serif;
  --body-700-sb-font-size: 24px;
  --body-700-sb-line-height: 150%;
  --body-700-sb-font-weight: 600;
  --body-700-sb-font-style: normal;
  --body-700-m-font-family: Pretendard-Medium, sans-serif;
  --body-700-m-font-size: 24px;
  --body-700-m-line-height: 150%;
  --body-700-m-font-weight: 500;
  --body-700-m-font-style: normal;
  --body-600-b-font-family: Pretendard-Bold, sans-serif;
  --body-600-b-font-size: 19px;
  --body-600-b-line-height: 150%;
  --body-600-b-font-weight: 700;
  --body-600-b-font-style: normal;
  --body-600-sb-font-family: Pretendard-SemiBold, sans-serif;
  --body-600-sb-font-size: 19px;
  --body-600-sb-line-height: 150%;
  --body-600-sb-font-weight: 600;
  --body-600-sb-font-style: normal;
  --body-600-m-font-family: Pretendard-Medium, sans-serif;
  --body-600-m-font-size: 19px;
  --body-600-m-line-height: 150%;
  --body-600-m-font-weight: 500;
  --body-600-m-font-style: normal;
  --body-500-b-font-family: Pretendard-Bold, sans-serif;
  --body-500-b-font-size: 17px;
  --body-500-b-line-height: 150%;
  --body-500-b-font-weight: 700;
  --body-500-b-font-style: normal;
  --body-500-sb-font-family: Pretendard-SemiBold, sans-serif;
  --body-500-sb-font-size: 17px;
  --body-500-sb-line-height: 150%;
  --body-500-sb-font-weight: 600;
  --body-500-sb-font-style: normal;
  --body-500-m-font-family: Pretendard-Medium, sans-serif;
  --body-500-m-font-size: 17px;
  --body-500-m-line-height: 150%;
  --body-500-m-font-weight: 500;
  --body-500-m-font-style: normal;
  --body-400-b-font-family: Pretendard-Bold, sans-serif;
  --body-400-b-font-size: 15px;
  --body-400-b-line-height: 150%;
  --body-400-b-font-weight: 700;
  --body-400-b-font-style: normal;
  --body-400-sb-font-family: Pretendard-SemiBold, sans-serif;
  --body-400-sb-font-size: 15px;
  --body-400-sb-line-height: 150%;
  --body-400-sb-font-weight: 600;
  --body-400-sb-font-style: normal;
  --body-400-m-font-family: Pretendard-Medium, sans-serif;
  --body-400-m-font-size: 15px;
  --body-400-m-line-height: 150%;
  --body-400-m-font-weight: 500;
  --body-400-m-font-style: normal;
  --body-300-b-font-family: Pretendard-Bold, sans-serif;
  --body-300-b-font-size: 13px;
  --body-300-b-line-height: 150%;
  --body-300-b-font-weight: 700;
  --body-300-b-font-style: normal;
  --body-300-sb-font-family: Pretendard-SemiBold, sans-serif;
  --body-300-sb-font-size: 13px;
  --body-300-sb-line-height: 150%;
  --body-300-sb-font-weight: 600;
  --body-300-sb-font-style: normal;
  --body-300-m-font-family: Pretendard-Medium, sans-serif;
  --body-300-m-font-size: 13px;
  --body-300-m-line-height: 150%;
  --body-300-m-font-weight: 500;
  --body-300-m-font-style: normal;
  --body-200-b-font-family: Pretendard-Bold, sans-serif;
  --body-200-b-font-size: 12px;
  --body-200-b-line-height: 150%;
  --body-200-b-font-weight: 700;
  --body-200-b-font-style: normal;
  --body-200-sb-font-family: Pretendard-SemiBold, sans-serif;
  --body-200-sb-font-size: 12px;
  --body-200-sb-line-height: 150%;
  --body-200-sb-font-weight: 600;
  --body-200-sb-font-style: normal;
  --body-200-m-font-family: Pretendard-Medium, sans-serif;
  --body-200-m-font-size: 12px;
  --body-200-m-line-height: 150%;
  --body-200-m-font-weight: 500;
  --body-200-m-font-style: normal;
  --body-100-b-font-family: Pretendard-Bold, sans-serif;
  --body-100-b-font-size: 10px;
  --body-100-b-line-height: 150%;
  --body-100-b-font-weight: 700;
  --body-100-b-font-style: normal;
  --body-100-sb-font-family: Pretendard-SemiBold, sans-serif;
  --body-100-sb-font-size: 10px;
  --body-100-sb-line-height: 150%;
  --body-100-sb-font-weight: 600;
  --body-100-sb-font-style: normal;
  --body-100-m-font-family: Pretendard-Medium, sans-serif;
  --body-100-m-font-size: 10px;
  --body-100-m-line-height: 150%;
  --body-100-m-font-weight: 500;
  --body-100-m-font-style: normal;
  --heading-h5-100-font-family: Pretendard-Regular, sans-serif;
  --heading-h5-100-font-size: 17px;
  --heading-h5-100-line-height: 150%;
  --heading-h5-100-font-weight: 400;
  --heading-h5-100-font-style: normal;
  --heading-h4-100-font-family: Pretendard-SemiBold, sans-serif;
  --heading-h4-100-font-size: 19px;
  --heading-h4-100-line-height: 150%;
  --heading-h4-100-font-weight: 600;
  --heading-h4-100-font-style: normal;
  --heading-h3-100-font-family: Pretendard-Bold, sans-serif;
  --heading-h3-100-font-size: 24px;
  --heading-h3-100-line-height: 150%;
  --heading-h3-100-font-weight: 700;
  --heading-h3-100-font-style: normal;
  --heading-h2-100-font-family: Pretendard-Bold, sans-serif;
  --heading-h2-100-font-size: 17px;
  --heading-h2-100-line-height: 150%;
  --heading-h2-100-font-weight: 700;
  --heading-h2-100-font-style: normal;
  --heading-h1-100-font-family: Pretendard-Bold, sans-serif;
  --heading-h1-100-font-size: 17px;
  --heading-h1-100-line-height: 150%;
  --heading-h1-100-font-weight: 700;
  --heading-h1-100-font-style: normal; */
}
