.badge {
  display: flex;
  width: 60px;
  height: 24px;
  padding: 0px 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: Pretendard;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 22.5px */

  &.success {
    background: var(--green-green-5, #eef7f0);
    color: var(--green-green-50, #008a1e);
  }
  &.danger {
    color: var(--red-red-60, #d50136);
    background: var(--red-red-5, #feecf0);
  }
}
