.btn-primary {
  display: flex;
  width: 100%;
  height: 64px;
  padding: 0px 24px;
  border-radius: 8px;
  background: var(--primary-primary-50, #246beb);
  justify-content: center;
  align-items: center;
  gap: 4px;
  flex-shrink: 0;
  color: var(--gray-gray-0, #fff);
  font-family: Pretendard;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  border: none;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    background: var(--primary-primary-60, #1d56bc);
  }
  &:active {
    background: var(--primary-primary-70, #14409b);
  }
  &:disabled {
    background: var(--gray-gray-30, #d8d8d8);
    color: var(--gray-gray-60, #717171);
  }
  &[aria-disabled="true"] {
    background: var(--gray-gray-30, #d8d8d8);
    color: var(--gray-gray-60, #717171);
  }
  &.small {
    display: inline-flex;
    height: 40px;
    padding: 0px 12px;
    border-radius: 6px;
    background: var(--primary-primary-50, #246beb);
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex-shrink: 0;

    color: var(--gray-gray-0, #fff);
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }

  &.min-width {
    min-width: 62px;
    padding-inline: 16px;
  }
}

.btn-back {
  position: absolute;
  left: 16px;
  top: 16px;
  width: 24px;
  height: 24px;
  background: url("../../images/icon/ico-back.svg") no-repeat center;
}

.btn-close {
  display: flex;
  width: 100%;
  height: 56px;
  padding: 0px 16px;
  position: relative;
  right: 16px;
  top: 16px;
  color: var(--gray-gray-100, #000);
  font-family: Pretendard;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  text-align: center;
  background: url("../../images/icon/ico-close.svg") no-repeat right;
}

.btn-outline {
  display: flex;
  display: inline-flex;
  height: 64px;
  padding: 0px 24px;
  border-radius: 8px;
  background: var(--primary-primary-50, #eff5ff);
  border: 2px solid var(--primary-primary-50, #246beb); /* 테두리 추가 */
  justify-content: center;
  align-items: center;
  gap: 4px;
  flex-shrink: 0;
  color: var(--primary-primary-50, #1d56bc); /* 폰트 색 변경 */
  font-family: Pretendard;
  font-size: 19px;
  font-weight: 400;
  line-height: 150%;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    background: var(--primary-primary-10, #d3e1fb); /* 호버 시 살짝 배경 추가 */
  }

  &:active {
    background: var(--primary-primary-20, #a7c4f7);
  }

  &:disabled {
    border-color: var(--gray-gray-30, #d8d8d8);
    color: var(--gray-gray-60, #717171);
    cursor: not-allowed;
  }
}
.btn-text {
  display: flex;
  width: 100%;
  height: 20px;
  padding: 2px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  gap: 2px;
  align-self: stretch;
  color: var(--gray-gray-70, #555);
  font-family: Pretendard;
  font-size: 15px;
  font-weight: 400;
  line-height: 150%;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: 4px;
}

.btn-2low {
  &.primary {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-left: 16px;
    padding-bottom: 16px;
    width: 100%;
    height: 100px;
    border-radius: 10px;
    background: var(--primary-primary-50, #246beb);
    color: var(--gray-gray-0, #fff);

    /* Title/Title XS 700 */
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 22.5px */
  }
  &.natural {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-left: 16px;
    padding-bottom: 16px;
    width: 100%;
    height: 100px;
    border-radius: 10px;
    background: var(--gray-gray-10, #f0f0f0);
    color: var(--gray-gray-100, #000);

    /* Title/Title XS 700 */
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 22.5px */
  }
}
.btn-2low-group {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding: 0px 16px;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
}
