.calendar {
  display: flex;
  width: 100%;
  height: 56px;
  padding: 0px 16px;
  border-radius: 8px !important;
  border: 1px solid var(--gray-gray-60, #717171);
  box-sizing: border-box;

  &::placeholder {
    font-family: Pretendard;
    font-size: 17px;
    font-weight: 400;
    line-height: 150%; /* 25.5px */
    color: var(--gray-gray-90, #1d1d1d);
  }

  /* focuse */
  &:focus {
  }
  /* disable */
  &.disabled {
    background-color: var(--gray-gray-30, #d8d8d8);
    border: 1px solid var(--gray-gray-40, #c6c6c6);
  }
  /* icon - calendar */
  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    background: url("../../images/icon/ico-calendar.svg") no-repeat center
      center;
    background-size: cover;
  }
}
