.card {
  width: 100%;
  display: flex;
  padding: 24px;
  flex-direction: column;
  gap: 24px;
  align-self: stretch;
  border-radius: 12px;
  border: 1px solid var(--gray-gray-40, #c6c6c6);
  box-sizing: border-box;

  .card-header {
    display: flex;
    width: 100%;
  }

  .card-body {
    display: flex;
    gap: 12px;

    .thumbnail {
      width: 46px;
      height: 46px;
      border-radius: 8px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .title-content {
      width: calc(100% - 58px);
      /* -> thumbnail 이미지, gap 간격 사이즈 뺀 순수 title-content의 너비값 */
      display: flex;
      align-items: center;
    }

    .btn-more {
      width: 24px;
      height: 24px;
    }
  }
}
