:root {
  --checkOffImage: url("../../images/ico_checkbox_off.svg");
  --checkOnImage: url("../../images/ico_checkbox_on.svg");
  --fontSize: 15px;
  --beforeColor: red;
  --afterColor: blue;
  --checkPl: 20px;
  --checkHeight: 20px;
}
.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  + label {
    display: inline-flex;
    padding-left: var(--checkPl);
    background: var(--checkOffImage) no-repeat left;
    font-size: var(--fontSize);
    color: var(--beforeColor);
    height: var(--checkHeight);
  }
  &:checked {
    + label {
      color: var(--afterColor);
      background: var(--checkOnImage) no-repeat left;
    }
  }
}
