.list-item {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .info-item {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;

    div {
      margin-top: 16px;
    }

    .h4 {
      color: var(--text-primary-40);
    }

    /* type - icon */
    &.icon {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;

      button {
        margin-top: 16px;
      }
    }
  }

  .tag {
    display: inline-block;
    font-family: Pretendard;
    font-size: 13px;
    font-weight: 700;
    line-height: 100%; /* 19.5px */
    padding: 7px 11px;
    line-height: 100%; /* 25.5px */
    border-radius: 100px;
    margin-right: 8px;

    &.red {
      color: var(--system-danger-50, #eb003b);
      border: 1px solid var(--system-danger-50, #eb003b);
      background: var(--accent-accent-5, #fdf2f3);
    }

    &.defulat {
      color: var(--gray-gray-70, #555);
      border: 1px solid var(--gray-gray-70, #555);
      background: var(--gray-gray-5, #f8f8f8);
    }
  }
}
