.card {
  width: 328px;
  display: flex;
  padding: 24px;
  flex-direction: column;
  gap: 24px;
  align-self: stretch;
  border-radius: 12px;
  border: 1px solid var(--gray-gray-40, #c6c6c6);

  .card-header {
    display: flex;
    width: 100%;
  }

  .card-body {
    display: flex;
    gap: 12px;

    .thumbnail {
      width: 46px;
      height: 46px;
    }
    .title-content {
      display: flex;
      align-items: center;
    }

    .btn-more {
      width: 24px;
      height: 24px;
    }
  }
}
