.text-field-group {
  display: grid;
  gap: 12px;

  .txt-error {
    position: relative;
    padding-left: 24px;

    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 16px;
      height: 16px;
      background: url("../../images/icon/ico-error.png") no-repeat center center;
      background-size: cover;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }
}
