.faq-list {
  details {
    border-radius: 10px;
  }
  summary {
    /* img아닐때*/
    align-items: center;
    justify-content: space-between;

    border-radius: 10px;
    list-style: none;
    background-color: silver;

    svg {
      width: 20px;
    }
  }
  /* [대괄호]는 속성 선택자다 */
  /* 펼쳤을 때 */
  [open] {
    background-color: pink;
    summary {
      background-color: pink;
      svg {
        rotate: x 180deg;
      }
    }
  }
}
